.weather-app {
  background-color: #4f6dff;
  max-width: 600px;
  box-shadow: 10px 10px #2e3acc;
  margin: 20px auto;
  padding: 30px;
  border-radius: 15px;
  border: #2e3acc 1px solid;
}

body {
  background-color: #e6edff;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  color: #f0f4ff;
  font-size: 40px;
}

p {
  color: #f0f4ff;
  padding-bottom: 20px;
}

.temperature {
  color: #f0f4ff;
}

footer {
  color: #dbe3ff;
  border-top: #efefef solid 1px;
  padding-top: 10px;
  font-size: 13px;
}

.search-form-input {
  background-color: #ffffff;
  border: #2e3acc 2px solid;
  padding: 10px;
  border-radius: 10px;
  width: 80%;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.search-form-button {
  background-color: #f0f4ff;
  border: #2e3acc 2px solid;
  padding: 10px;
  border-radius: 10px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 10px;
}

.search-form-button:hover {
  background-color: #2e3acc;
  color: #f0f4ff;
}

.link {
  color: #f0f4ff;
}
